.row{
    margin-top: 5%;
    
}
#sidebar{
    background-color: #7FB3D5;
    width: 23%;
    border-radius: 5px;
}
#mainimg{
   border-radius: 5px;
   height: 500px;
   width: 800px;
}
#logo{
    margin-left: 30px;
    margin-top: 15px;
}
.logo{
    background-color: midnightblue;
    color: #7FB3D5;
    border-radius: 50%;
    padding: 7px;
    font-size: 20px;
}
#image{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    border: 3px solid midnightblue;;
    margin-top: 10px;
    margin-left: 60px;
}
ul{
    list-style-type: none;
    
}
li{
    padding: 8px;
}
li a{
    text-align: center;
    text-decoration: none;
    margin-left: 5px;
    padding: 5px 45px;
    color: midnightblue;
    font-weight: bold;
    
}
.centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bolder;
    text-align: center;
    color: midnightblue;
  }
  li a:hover{
      background-color: midnightblue;
      color: #7FB3D5;
  }
   .btn {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    text-align: center;
    background-color: #7FB3D5;
    color: midnightblue;
    font-weight: bolder;
   }
   .btn:hover{
       background-color: midnightblue;
       color: #7FB3D5;
        
   }
   